body {
  background-color: black;
}
.container {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 17%;
  background-color: hsl(216, 12%, 8%);
  padding: 1.2em;
  border-radius: 20px;
}
.rate-container{
  display : block;
}
.img-container img {
  padding: 10px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
}
.container h3 {
  color: white;
}
.container p {
  color: hsl(217, 12%, 63%);
  font-size: 13px;
}
.Rates {
  display: flex;
  justify-content: space-between;
  margin-top : 20px;
}
.Rates span {
  padding: 10px 14px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
}
.Rates span:hover {
    background-color : hsl(25, 97%, 53%);
    color : white;  
}
.Rates span:active {
  background-color :hsl(217, 12%, 63%);
  color : white;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container button {
  padding: 8px 0em;
  width: 98%;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: hsl(25, 97%, 53%);
  border-radius: 20px;
  color: white;
  letter-spacing: 2px;
}
button:hover {
    background-color : white;
    color : hsl(25, 97%, 53%);
}
.result-container {
    display : none ;
    flex-direction : column;
    align-items:center;
}
.result-container p {
  text-align : center;
}
.result-text{
  background-color : hsl(213, 19%, 18%) ;
  padding : 5px 10px;
  border-radius : 10px;
}